.banner{
    position: relative;
    z-index: 0;
}
.banner--ser{
    padding-bottom: 0px;
}
.bannerbg{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
/* services boxes */
.serWrapper--ser{
    padding-bottom: 80px;
}
.serboxesWrpr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}
.sercard{
    width: 360px;
    border: 1px solid #E8E8E8;
    padding: 80px 25px 50px 25px;
    border-radius: 30px;
}
.sercard_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.sercard_hdng{
    font-size: 28px;
    color: #0C0000;
    font-weight: 500;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.sercard_hdng:hover{
    color: var(--red);
}
.sercardModal{
    position: relative;
    max-width: 1018px;
    padding: 0;
    z-index: 999;
}
.sercardModalBody{
    padding: 30px 54px;
    text-align: center;
}
.serCardBg{
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: auto;
    height: auto;
    object-fit: contain;
    z-index: -1;
}
.sercardModalHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.sercardImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.sercardModalImg{
    width: 400px;
}
.sercardMdl_hdng{
    position: relative;
    color: var(--red);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.sercardMdl_hdng::before{
    content: url(/rec.png);
    margin: 0 10px;
}
.sercardMdl_hdng::after{
    content: url(/rec.png);
    margin: 0 10px;
}
.sercardMdl_para{
    text-align: right;
    font-size: 26px;
    color: #0C0000;
    margin-bottom: 20px;
    font-weight: 500;
}
.sercardModalFooter{
    display: flex;
    align-items: center;
    padding: 18px 54px;
    border-top: 1px solid #E9E9E9;
    column-gap: 30px;
}
.penHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.09);
}
.penText{
    font-size: 20px;
    color: #717070;
    font-weight: 500;
}
@media(max-width:1799px){
    .sercardModalImg {
        width: 360px;
    }
    .sercardMdl_hdng {
        font-size: 26px;
    }
    .sercardMdl_para {
        font-size: 23px;
    }
    .penText {
        font-size: 18px;
    }
    .sercardModal {
        max-width: 840px;
    }
    .sercard {
        width: 330px;
        padding:70px 25px 40px 25px;
        border-radius: 20px;
    }
    .sercard_hdng {
        font-size: 24px;
    }

}
@media(max-width:1599px){
    .sercardImg {
        width: 160px;
        height: 160px;
    }
    .sercard {
        width: 300px;
        padding:70px 25px 40px 25px;
        border-radius: 15px;
    }
}
@media(max-width:1399px){
    .sercard {
        width: 260px;
        padding: 70px 20px 40px 20px;
    }
}
@media(max-width:1199px){
    .sercard {
        width: 30%;
    }
    .serboxesWrpr{
        justify-content: space-between;
        column-gap: 4.9%;
    }
    .sercard:nth-last-child(1){
        margin-left: auto;
    }
}
@media(max-width:1023px){
    .sercardModal {
        max-width: 650px;
    }
    .sercardModalBody {
        padding: 30px 30px;
    }
    .sercardModalFooter{
        padding: 10px 30px;
    }
    .sercardModalImg {
        width: 290px;
    }
    .sercardMdl_hdng {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .sercardMdl_para {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .penText {
        font-size: 14px;
    }
    .sercardModalFooter {
        column-gap: 14px;
    }
}
@media(max-width:767px){
    
    .sercard {
        width: 48%;
    }
    .serboxesWrpr{
        justify-content: space-between;
        column-gap: 3%;
    }
    .aboutbox_hdng2{
        margin-bottom: 45px;
    }
    .serWrapper {
        row-gap: 10px;
    }
    .serWrapper--ser {
        padding-bottom: 30px;
    }
    .newsletterbg{
        display: none;
    }
    .serboxesWrpr {
        row-gap: 15px;
    }
    .sercardModalBody .form {
        padding: 20px 10px 0 10px;
    }
    .sercardMdl_para {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .sercardModalImg {
        width: 240px;
    }

}
@media(max-width:539px){
    .banner--ser {
        padding-bottom: 0 !important;
    }
    .banner--ser .bannerBox1 {
        width: calc(100%) !important;
    }
    .sercard {
        width: 100%;
        max-width: 290px;
        margin: auto;
    }
    .sercardModalBody {
        padding: 20px 15px;
    }
    .formHdng {
        font-size: 21px;
        margin-bottom: 20px;
    }
    .formHdng::before {
        content: url(/rec.png);
        margin: 0 5px;
    }
    .formHdng::after {
        content: url(/rec.png);
        margin: 0 5px;
    }

}